/* Containers */
body {
  * {
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
  }
}


/** Displays **/

// Flex
.flexbox {
  display: flex;

  &.col-in-mobile {
    // mobile
    @media screen and (max-width: @screen-s) {
      flex-direction: column;
    }
  }
}
//
.flex-wrap { flex-wrap: wrap; }

.justify-content-start  { justify-content: flex-start; }
.justify-content-end    { justify-content: flex-end; }
.justify-content-center { justify-content: center; }
.justify-content-space-between    { justify-content: space-between; }
.justify-content-space-around    { justify-content: space-around; }
// 
.align-items-center { align-items: center; }
.align-items-start  { align-items: flex-start; }
.align-items-end    { align-items: flex-end; }

.flex-none { flex: none; }

// Other
.display-block        { display: block; }
.display-inline-block { display: inline-block; }

.is-hidden            { display: none; }

.is-hidden-on-mobile {
  // mobile
  @media screen and (max-width: @screen-s) {
    display: none;
  }
}
// 

// Generic 
//
.row {
  max-width: 1442px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; 
 
  //tablet
  @media screen and (min-width: @screen-m) and (max-width: 1490px) {
    padding-left: 5%;
    padding-right: 5%;
  }
  //mobile
  @media screen and (max-width: @screen-m) {
    padding-left: 7%;
    padding-right: 7%;
  }
} 

// Title of great section
//
.block-title { 
  // tablet
  @media screen and (min-width: @screen-s) {
    max-width: 62%;
  }
}


// Section with background color
//
// generic 
*[class^="background-"] {
  > .row {
    // row
    padding-top: @space-xl;
    padding-bottom: @space-xl;
    // Tablet
    /*
    @media screen and (max-width: @screen-s) {
      padding-top: @space-m;
      padding-bottom: @space-m;
    }
    */
  }
}
// dark grey
.background-dark-grey {
  background-color: @color-tertiary;
  color: @color-grey-400;

  .title {
    color: #fff;
  }
}
// sweet orange
.background-sweet-orange {
  background-color: @color-secondary;
}


// Container : Contact section
//
.contact-container {
  background-color: @color-secondary;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 500px;

  > * {
    //row
    padding-top: @space-m;
    padding-bottom: @space-m;
    color: @color-text-nav;
    //tablet
    @media screen and (min-width: @screen-l) {
      //width: 70%;
    }

    .contact-details {
      max-width: 80%;
      flex-wrap: wrap;
      //tablet
      @media screen and (max-width: @screen-s) {
        flex-direction: column;
        max-width: 100%;
      }
      
      > * {
        min-width: 48%;
        line-height: 1.1;
        font-weight: 400; 
        &:not(:last-of-type) {
          margin-bottom: @space-s;
        }
        i {
          float: left;
          margin: 2px 15px 16px 0;
          font-size: 1.8rem;
        }
      }
    }
    //.contact-details
  }
}