/* Footer */
.footer {
  background-color: @color-tertiary;

  > * {
    padding: 80px 0;
    display: flex;
    align-items: center;
    color: @color-grey-400;
    font-size: 1.4rem;
    // tablet
    @media screen and (max-width: @screen-l) {      
      padding: 50px 0;
    }

    > * {
      border: 1px solid red;
      flex: 2;
    }

    .logo {
      flex: 1;
      max-width: 14%;
      min-width: 80px;
      margin-right: 40px;
    }

    // link
    a:link, a:visited, a {
      color: @color-grey-400;
    }
  }
}