/* Footer */
.footer {
  > * {
    padding: 20px 0;
    display: flex;
    align-items: center;
    background-color: @color-tertiary;
    color: @color-grey-400;

    .logo {
      // tablet
      @media screen and (max-width: @screen-xl) {
        width: 8%;
        min-width: 60px;
      }
    }
  }
}