/* Footer */
.footer {
  background-color: @color-tertiary;

  > * {
    padding: 80px 0;
    display: flex;
    color: @color-grey-400;
    &, p {
      font-size: 1.4rem;
    }

    // tablet
    @media screen and (max-width: @screen-l) {      
      padding: 50px 0 30px;
    }
    // mobile 
    @media screen and (max-width: @screen-s) { 
      flex-direction: column;
    }

    > * {
      flex: 2;
    }

    .logo {
      flex: 1;
      max-width: 14%;
      min-width: 80px;
      margin-right: 40px;
      // mobile 
      @media screen and (max-width: @screen-s) { 
        margin: 0 0 20px;
      }
    }

    // link
    a:link, a:visited, a {
      color: @color-grey-400;
    }

    // Content blocks
    .footer-content-blocks {
      border: 1px solid red;
      display: flex;
      flex-wrap: wrap;

      > * {
        border: 1px solid red;
        flex: 1;
        &:not(:last-of-child) {
          margin-right: 40px;
        }
      }
      
    }
  }

  .legal-notice {    
    font-size: 1.4rem;
    margin-top: 30px;
    color: @color-grey-400;
    min-width: 100%;
    // mobile 
    @media screen and (max-width: @screen-s) { 
      margin-top: 40px;
      padding-top: 30px;
      border-top: 1px solid #414141;
    }

    span {
      padding: 0 15px;
    }
  }
}