/* Header */
.header {
  > * {
    padding: 20px 0;
    display: flex;
    align-items: center;

    .logo {
      // tablet
      @media screen and (max-width: @screen-xl) {
        width: 8%;
        min-width: 60px;
      }
    }

    // menu
    .nav-main {
      margin-left: auto;
      font-family: @font-primary;
      font-size: 16px;
      font-weight: 400;
      text-align: right;
      color: @color-text-nav;
      position: relative;
      width: 100%;

      
      ul {
        // hidden main nav in mobile
        // mobile
        @media screen and (max-width: @screen-m) {
          //display: none;
          position: fixed;
          right: 0;
          top: 0;
          background: #fff;
          width: 0;
          height: 100%;
          text-align: left;
          padding-top: 110px;
          transition: width .3s, padding .3s, box-shadow .5s;
          > * {
            display: none;
            opacity: 0;
            transition: all .5s;
          }
        }
      }
    }

    // mobile menu 
    .mobile-menu {
      position: relative;
      z-index: 91;
      padding: 15px;
      display: none;
      font-size: @font-size-h5;
      // mobile
      @media screen and (max-width: @screen-m) {
        display: inline-block;
      }
      & + input {
        display: none;
      }
    }

    // mobile
    @media screen and (max-width: 768px) {
      input:checked + ul {       
        z-index: 90;
        box-shadow: -2px 0px 5px 1px rgba(0, 0, 0, .2);
        width: 80%;
        padding: 110px 30px 30px;
        flex-direction: column;
        justify-content: flex-start;
        > * {
          display: block;
          opacity: 1;
        }
      }
    }
  
    
  }

}