/* Header */
.header {
  > * {
    padding: 20px 0;
    display: flex;
    align-items: center;

    .logo {
      // tablet
      @media screen and (max-width: @screen-xl) {
        width: 8%;
        min-width: 60px;
      }
    }

    // menu
    .nav-main {
      margin-left: auto;
      font-family: @font-primary;
      font-size: 16px;
      font-weight: 400;
      text-align: right;
      color: @color-text-nav;
      position: relative;
      width: 100%;
    }

    // mobile menu 
    .mobile-menu {
      position: relative;
      z-index: 91;
      padding: 20px;
      display: none;
      font-size: @font-size-h5;
      // mobile
      @media screen and (max-width: @screen-m) {
        display: inline-block;
      }
      & + input {
        display: none;
      }
    }
    // mobile
    @media screen and (max-width: 768px) {
      input:checked + ul {
        display: block!important;
        z-index: 90;
      }
    }
  
    
  }

}