/* Header */
.header {
  > * {
    padding: 20px 0;
    display: flex;
    align-items: center;

    .logo {
      // tablet
      @media screen and (max-width: @screen-xl) {
        width: 8%;
        min-width: 60px;
      }
    }

    // menu
    .nav-main {
      margin-left: auto;
      font-family: @font-primary;
      font-size: 16px;
      font-weight: 400;
      text-align: right;
      color: @color-text-nav;
      position: relative;
      width: 100%;
    }

    // mobile menu 
    .mobile-menu {
      position: relative;
      z-index: 9000;
      padding: 10px;
      // desktop
      @media screen and (min-width: @screen-m + .5) {
        display: none;
      }
      & + input {
        display: none;
      }

      &:hover {
        border: 1px solid red;
      }
    }
    input:checked + ul {
      display: block!important;
    }
  
    
  }

}