/* Navigation */

nav {
  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
// Main Menu 
.nav-main {
  > ul {
    display: flex;

    // hidden main nav in mobile
    // mobile
    @media screen and (max-width: @screen-m) {
      display: none;

      border: 1px solid red;
      position: fixed;
      right: 0;
      top: 0;
      background: #fff;
      height: 100%;
      width: 70%;
      text-align: left;
      padding: 25% 10px;
    }

    li {
      margin: 0 1.5vw;
      display: flex;
      align-items: center;
      // Tablet
      @media  screen and (min-width: @screen-xxl) {
        margin: 0 24px;
      }
      // design for desktop
      // desktop
      @media  screen and (min-width: @screen-m + .5) {
        a, a:visited, a:link {
          display: block;
          padding: 10px 0;
          font-family: @font-primary;
          font-size: 16px;
          font-weight: 400;
          color: @color-text-nav;

          // Tablet
          @media  screen and (max-width: @screen-l) {
            font-size: 1.3rem;
          }
        }
        &:hover, 
        &.current-menu-item {
          a {
            text-shadow: 0 0 0.015px;
            box-shadow: 0 5px 0 0 @color-primary;
          }
        }
      }

      // design for mobile
      // mobile
      @media  screen and (max-width: @screen-m) {
        border: 1px solid red;
        > * {
          padding: 15px 0;
        }
      }
      
      // last item
      &:last-of-type {
        a {
          &:after {
            content: "\f0e0";
            font-family: "Font Awesome 6 Free";
            display: inline-block;
            // desktop
            @media  screen and (min-width: @screen-l) {
              margin-left: 8px;
            }
          }
          span {
            // Tablet
            @media  screen and (max-width: @screen-l) {
              display: none;
            }
          }
        }  
      }
    }
    // li
  }
}


// footer navigation
.footer-navigation {

}