/* Navigation */

nav {
  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
// Main Menu 
.nav-main {
  > ul {
    display: flex;
    justify-content: flex-end;

    // hidden main nav in mobile
    // mobile
    @media screen and (max-width: @screen-m) {
      display: none;

      box-shadow: -2px 0px 5px 1px rgba(0, 0, 0, .2);
      position: fixed;
      right: 0;
      top: 0;
      background: #fff;
      height: 100%;
      width: 80%;
      text-align: left;
      padding: 110px 10px 20px;
    }

    li {
      margin: 0 1.5vw;
      display: flex;
      align-items: center;

      // design for desktop
      // desktop
      @media  screen and (min-width: @screen-m + .5) {
        &:hover, 
        &.current-menu-item {
          > a {
            text-shadow: 0 0 0.015px;
            box-shadow: 0 5px 0 0 @color-primary;
          }
        }
        a, a:visited, a:link {
          display: block;
          padding: 10px 0;
          font-family: @font-primary;
          font-size: @font-size-base;
          font-weight: 400;
          color: @color-text-nav;

          // Tablet
          @media  screen and (max-width: @screen-l) {
            font-size: 1.3rem;
          }
        }
      }
      // design for mobile
      // mobile
      @media  screen and (max-width: @screen-m) {
        > * {
          padding: 15px 0;
          display: block;
          width: 100%;
        }
      }

      // Tablet
      @media  screen and (min-width: @screen-xxl) {
        margin: 0 24px;
      }

      a, a:link, a:visited {        
        font-size: @font-size-base-mobile;
      }
      
      // last item
      &:last-of-type {
        a {
          &:after {
            content: "\f0e0";
            font-family: "Font Awesome 6 Free";
            display: inline-block;
            // desktop
            @media  screen and (min-width: @screen-l) {
              margin-left: 8px;
            }
          }
          span {
            // Tablet
            @media  screen and (min-width: @screen-m) and (max-width: @screen-l) {
              display: none;
            }
          }
        }  
      }
    }
    // li
  }
}


// footer navigation
.footer-navigation {
  > ul {
    > li {
      > * {
        padding: 12px 0;
      }
    }
  }
}