/* Variables list */

// Fonts
@font-primary: 'Poppins', sans-serif;
@font-secondary: 'Quesha', sans-serif;
@font-quote: 'Apalu', sans-serif;

// Colors
@color-primary:   #56A577;
@color-secondary: #F0C89C;
@color-tertiary:  #252525;

@color-text: #545454;
@color-text-nav: #252525;
