<section class="contact-container">
<div class="row">
  <h2>Contactez-moi</h2>
  <p class="space-l">Envie de tester un moment de bien-être ?<br> Contactez moi pour en savoir plus sur mes prestations, ou prendre rendez-vous....</p>

  <div class="flexbox contact-details">
    <div><i class="fa-solid fa-at"></i> contact@cocon.fr</div>
    
    <div><i class="fa-solid fa-paper-plane"></i> Je me deplace<br><span class="caption">Pays de Vannes & Auray</span></div>
    <div><i class="fa-solid fa-phone"></i>  06 15 81 70 09<br><span class="caption">Du lundi au samedi, de 9h00 à 16h00.</span></div>
  </div>
</div>
</section>