{% block header %} 
  <div class="row">
    <div class="logo" role="banner">
      <a href="{{ site.url }}" rel="home" title="{{ site.name }}">
        <img src="https://cocon.alexiasavva.fr/wp-content/uploads/cocon-logo.png" alt="{{ site.name }}" width="100">
      </a>
    </div>

    <nav id="nav-main" class="nav-main" role="navigation">

      <label for="open-mobile-menu" class="mobile-menu"><i class="fa-solid fa-bars fa-2x"></i></label>
      <input type="radio" name="open-mobile-menu" />

      {% include "menu.twig" with { 'type': main_menu } %}      
    </nav>
  </div>
{% endblock %}