/* Generic */

@import "base/variable";
@import "base/typography";

@import "component/button";

@import "layout/header";
@import "layout/footer";
@import "layout/navigation";
@import "layout/container";

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
 
  body {
    background: #fff;
    font-family: @font-primary;
    margin: 0;
    padding: 0;
  }
}

// Margins classes
.space-xxl {
  margin-bottom: @space-xxl;
}
.space-xl {
  margin-bottom: @space-xl;
}
.space-l {
  margin-bottom: @space-l;
}
.space-m {
  margin-bottom: @space-m;
}
.space-s {
  margin-bottom: @space-s;
}
.space-xs {
  margin-bottom: @space-xs;
}