/* Buttons */

// Links

a {
  &:link, 
  &:visited {
    color: @color-text-nav;
    display: inline-block;    
    text-decoration: none;
  }
}
// In navigation
nav {
  a:link, 
  a:visited {
    text-decoration: none;
  }
}