/* Buttons */

// Links
a {
  &:link, 
  &:visited {
    color: @color-text-nav;
    display: inline-block;    
    text-decoration: none;
  }
}
// In navigation
nav {
  a:link, 
  a:visited {
    text-decoration: none;
  }
}

// Buttons
.button {  
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  padding: @space-s @space-m;
  transition: all .2s;

  &.button-secondary {
    background-color: transparent;
    border: 1px solid @color-primary;
    color: @color-primary;
    
    background-position: -20px center;
    background-size: 30%;


    &:hover {
      //color: #fff;
      padding-left: 60px;
      padding-right: 20px;
      background: url('../../img/hover-illustration.svg') no-repeat center left;
    }
  }
}