/* Qui suis-je ? */
@import "../styles.less";

.page-template-page-about {
  // Cover
  .cover {
    background: url('../../img/cover-about.jpg') no-repeat center;
    background-size: cover;
    height: 75vh;
    max-height: 1024px;
    // mobile
    @media screen and (max-width: @screen-l) {
      min-height: 500px;
      background-position-y: -100px;
    }
    // desktop
    @media screen and (min-width: @screen-xxl) {
      height: 130vh;
    }

    > * {
      margin-top: @space-l;
      // desktop
      @media screen and (min-width: @screen-l) {
        margin-top: @space-xxl;
      }
    }
  }

  .main-container > .content-text-block {
    > * {
      .content {
        background: #fff;
        margin: -30vh auto 0;
        padding: @space-m 30px;
        max-width: 810px;
        width: 92%;

        // tablet
        @media screen and (min-width: @screen-m) {
          margin-left: auto;
          margin-right: 0;          
          padding: @space-xxl;
        }

        &, p, .h5{
          color: @color-text;
        }
        // desktop
        @media screen and (min-width: @screen-xxl) {
          margin-top: -50vh;
        }
        // mobile
        @media screen and (max-width: @screen-l) {
          margin-top: -250px;
        }
        
        //
        @media screen and (min-height: 1450px) {
          margin-top: -200px;
        }


      }
    }
  }


  .immersif-background {
    border: 1px solid red;
    background: url('../../img/about-philosophie.jpg') no-repeat center;
    background-size: cover;
    //max-height: 1024px;
    height: 1024px;

    .content-text-block {
      > * {
        background-color: #fff;
        padding: @space-m 30px;
        margin: @space-xxl auto -200px;
        max-width: 810px;
        width: 92%;
        // tablet
        @media screen and (min-width: @screen-m) {
          margin-left: auto;
          margin-right: 0;          
          padding: @space-xxl;

          &.revert {
            margin-right: auto;
            margin-left: 0;   
          }
        }
        
      }
    }
  }
}
