/* Qui suis-je ? */
@import "../styles.less";

.page-template-page-about {
  // Cover
  .cover {
    background: url('../../img/cover-about.jpg') no-repeat center;
    background-size: cover;
    min-height: 550px;
    // mobile
    @media screen and (max-width: @screen-m) {
      height:  80vh;
      min-height: 450px;
      max-height: 550px;
      background-position: unset;
    }
  }
}