/* Qui suis-je ? */
@import "../styles.less";

.page-template-page-about {
  // Cover
  /*
  .cover {
    background: url('../../img/cover-about.jpg') no-repeat center;
    background-size: cover;
    height: 75vh;
    max-height: 1024px;
    // mobile
    @media screen and (max-width: @screen-l) {
      min-height: 500px;
      background-position-y: -100px;
    }
    // desktop
    @media screen and (min-width: @screen-xxl) {
      height: 130vh;
    }

    > * {
      margin-top: @space-l;
      // desktop
      @media screen and (min-width: @screen-l) {
        margin-top: @space-xxl;
      }
    }
  }

  .main-container > .content-text-block {
    > * {
      position: relative;
      z-index: 10;
      padding: 0;

      .content {
        background: #fff;
        margin: -30vh auto 0;
        padding: @space-m 30px;
        max-width: 810px;
        width: 92%;

        // tablet
        @media screen and (min-width: @screen-m) {
          margin-left: auto;
          margin-right: 0;          
          padding: @space-xxl;
        }

        &, p, .h5{
          color: @color-text;
        }
        // desktop
        @media screen and (min-width: @screen-xxl) {
          margin-top: -50vh;
        }
        // mobile
        @media screen and (max-width: @screen-l) {
          margin-top: -250px;
        }
        
        //
        @media screen and (min-height: 1450px) {
          margin-top: -200px;
        }


      }
    }
  }
  */


  .immersif-background {
    margin-bottom: 220px;
    height: 1024px;
    border: 1px solid black;
    // background
    .bg-block {
      width: 100%;
      height: 100%;
      position: absolute;
      border: 1px solid red;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      // mobile
      @media screen and (max-width: 767.5px) {
        background-size: contain;
        background-position: top center;
      }
    }    

    // cover
    &.cover {
      .bg-block {  
        background-image: url('../../img/cover-about.jpg');
      }
    }
    // ma philosophie
    &.my-philosophy {
      .bg-block {  
        background-image: url('../../img/about-philosophie.jpg');
      }
    }
    // mes engagements
    &.my-engagment {
      .bg-block { 
        background-image: url('../../img/about-engagement.jpg');
      }
    }

    .content-text-block {
      > * {
        position: relative;
        z-index: 10;
        //tablet
        @media screen and (max-width: @screen-m) {
          padding-right: 4%;
          padding-left: 4%;
        }

        .content {
          position: relative;
          background-color: #fff;
          padding: @space-m 30px;
          max-width: 780px;
          width: 100%;

          .title {
            margin-bottom: @space-l;
            //tablet
            @media screen and (max-width: @screen-m) {
              margin-bottom: 40px;
            }
          }
        }
        
      }
    }
  }
}
