/* Page contact */
@import "../styles.less";

.cover {
  // desktop
  @media screen and (min-width: 768.5px) {  
    min-height: 735px;
  }
  > * {
    border: 1px solid red;
    // desktop
    @media screen and (min-width: 768.5px) {  
      padding-right: 50%;
    }
    .contact-details {
      border: 1px solid red;
  
      > * {
        border:1px solid blue;
        min-width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        i {
          margin-bottom: @space-s;
        }
      }
    }
  }
  
}