/* Page contact */
@import "../styles.less";

.cover {
  // desktop
  @media screen and (min-width: @screen-m) {  
    min-height: 735px;
  }
  > * {
    
    .contact-details {
      border: 1px solid red;
  
      > * {
        border:1px solid blue;
      }
    }
  }
  
}