/* Page contact */
@import "../styles.less";

.cover {
  // desktop
  @media screen and (min-width: 768.5px) {  
    min-height: 735px;
  }
  > * {
    border: 1px solid green;
    padding-right: 50%;
    // desktop
    @media screen and (min-width: @screen-xxl) {  
      padding-right: 500px;
      border: 1px solid red;
    }
    .contact-details {
      border: 1px solid red;
      max-width: 100%;
      justify-content: flex-start;
  
      > * {
        border:1px solid blue;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: @space-s;
        text-align: center;

        i {
          margin-bottom: @space-s;
        }
      }
    }
  }
  
}