/* Homepage */
@import "../styles.less";

.page-template-home {
  // Block Mes engagements
  .engagements-block {
    padding-top: @space-l;
    padding-bottom: @space-l;

    .engagements-items {    
      align-items: baseline;
      max-width: 68%;
      margin-right: auto;
      margin-left: auto;
      
      // desktop
      @media screen and (min-width: @screen-xl) {
        max-width: 80%;
      }
      > * {
        width: 100%;
        // mobile
        @media screen and (max-width: @screen-s) {
          margin-bottom: @space-m;
        }
        // mobile > desktop
        @media screen and (min-width: @screen-s) {
          &:nth-child(2) {
            margin: 0 @space-m;
          }
        }
      }
    }
  }


}
