/* Homepage */
@import "../styles.less";

.page-template-home {

  // Block Prestation 
  .prestations-block {
    padding-top: @space-xl;
    padding-bottom: @space-xl;

    // Tablet
    @media screen and (max-width: @screen-s) {
      padding-top: @space-m;
      padding-bottom: @space-m;
    }

    > * {
      //row
      .prestations-items {
        justify-content: center;

        > .item {
          background-color: #fff;
          color: @color-text;
          flex: 1;
          // tablet
          @media screen and (min-width: 768.5px) {
            max-width: 28%;
          }
          &:nth-child(2) {
            // Desktop
            @media screen and (min-width: @screen-s) {            
              margin-left: 2%;
              margin-right: 2%; 
            }
          }
          > .content {
            padding: @space-s;
            // tablet
            @media screen and (min-width: @screen-l) {
              min-height: 330px;
              padding: @space-m;
            }

            .title, 
            a:link, a:visited {
              color: @color-tertiary;
            }
          }
          img { 
            display: block;
            width: 100%;
          }
        }
        //item
      }
    }
  }

  // Block Mes engagements
  .engagements-block {
    padding-top: @space-l;
    padding-bottom: @space-l;

    .engagements-items {    
      align-items: baseline;
      margin-right: auto;
      margin-left: auto;
      
      // desktop
      @media screen and (min-width: @screen-xl) {
        max-width: 80%;
      }
      > * {
        width: 100%;
        // mobile
        @media screen and (max-width: @screen-s) {
          margin: 0 auto @space-m;
          width: 60%;
        }
        // mobile > desktop
        @media screen and (min-width: @screen-s) {
          &:nth-child(2) {
            margin: 0 @space-m;
          }
        }
      }
      // Item
    }
  }


}
