/* Page Massages */

@import "../styles.less";

.page-template-page-massages {
  //
  .cover {
    background: url('../../img/cover-massages.jpg') no-repeat center;
    background-size: cover;
    min-height: 550px;
    // mobile
    @media screen and (max-width: @screen-m) {
      min-height:  58vh;   
    }

    > * {
      color: #fff;
    }

    //desktop
    @media screen and (min-width: @screen-l) {
      .block-title {
        max-width: 48%;
      }
    }

    //desktop
    //@media screen and (min-width: @screen-l) {
    //  .block-title {
    //    max-width: 520px;
    //  }
    //}
  }

  // Liste des Massages
  .massages-list-section {
    > * {
      // list item
      .list-items {
        > * {
          // item
          display: flex;
          flex-direction: column;
          padding: 10px 5%;
          margin-bottom: @space-m;
          // desktop
          @media screen and (min-width: @screen-xl) {
            width: 32%;
            max-width: 450px;
          }
          // tablet
          @media screen and (min-width: @screen-m) and (max-width: @screen-xl) {
            width: 49%;
          }
          // desktop
          @media screen and (max-width: @screen-m) {
            padding: 0 0 @space-s;

            &:not(:nth-last-child(-n+2)) {
              border-bottom: 1px solid #c9c9c9;
            }
          }
          center {
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .detail {
            i {
              margin-right: @space-xs;
            }
          }
          .title {
            // tablet
            @media screen and (max-width: @screen-l) {
              font-size: @font-size-h5;
            }
          }
          // le petit plus
          &.highlight {
            color: #333;
            padding: 10px 45px;
            // desktop
            @media screen and (min-width: @screen-m) {              
              max-width: 370px;
            }
            // mobile
            @media screen and (max-width: @screen-s) {
              padding: 30px 45px;
              margin-left: -8%;
              margin-right: -8%;
            }

            .badge {
              color: @color-tertiary;
              font-weight: 600;
            }
            .detail {
              > * { 
                flex: 1;
                i {
                  color: #fff;
                }
              }
            } 
          }
        }
        // item
      }
    }
  }

  // Déroulement
  .process-section {
    .process-items {
      border: 1px solid blue;
      justify-content: space-between;

      > * {
        border: 1px dotted;
        margin-bottom: @space-m;
        //desktop
        @media screen and (min-width: @screen-xl) {
          max-width:  44%;
        }
        &:after {
          content: '';
          width: 90px;
          height: 32px;
          margin: @space-m auto 0;
          display: block;
          border: 1px solid red;
          background: url('../../img/natural-illustration-4.svg') no-repeat center;
          background-size: cover;
          filter: invert();
        }
      }
    }
  }


}