/* Page Massages */

@import "../styles.less";

.page-template-page-massages {
  //
  .cover {
    background: url('../../img/cover-massages.jpg') no-repeat center;
    background-size: cover;
    min-height: 550px;
    // mobile
    @media screen and (max-width: @screen-m) {
      min-height:  58vh;   
    }

    > * {
      color: #fff;
    }

    //desktop
    @media screen and (min-width: @screen-l) {
      .block-title {
        max-width: 48%;
      }
    }

    //desktop
    //@media screen and (min-width: @screen-l) {
    //  .block-title {
    //    max-width: 520px;
    //  }
    //}
  }

  // Liste des Massages
  .massages-list-section {
    > * {
      // row
      padding-top: @space-xl;
      padding-bottom: @space-xl;
      // Tablet
      @media screen and (max-width: @screen-s) {
        padding-top: @space-m;
        padding-bottom: @space-m;
      }
      // list item
      .list-items {
        > * {
          // item
          display: flex;
          flex-direction: column;
          padding: 10px 5%;
          margin-bottom: @space-m;
          // desktop
          @media screen and (min-width: @screen-m) {
            width: 30%;
            max-width: 450px;
          }
          // desktop
          @media screen and (max-width: @screen-m) {
            padding: 0 0 @space-s;
            border-bottom: 1px solid #c9c9c9;
          }
          center {
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .detail {
            i {
              margin-right: @space-xs;
            }
          }
          .title {
            // tablet
            @media screen and (max-width: @screen-l) {
              font-size: @font-size-h5;
            }
          }

          &.highlight {
            color: #333;

            .badge {
              color: @color-tertiary;
              font-weight: 500;
            }
              

            .detail {
              > * { 
                flex: 1;
                i {
                  color: #fff;
                }
              }
            } 
          }
        }
        // item
      }
    }
  }


}