/* Page Massages */

@import "../styles.less";

.page-template-page-massages {
  //
  .cover {
    background: url('../../img/cover-massages.jpg') no-repeat center;
    background-size: cover;
    min-height: 550px;
    // mobile
    @media screen and (max-width: @screen-m) {
      min-height:  58vh;   
    }

    > * {
      color: #fff;
    }

    //desktop
    @media screen and (min-width: @screen-l) {
      .block-title {
        max-width: 48%;
      }
    }

    //desktop
    //@media screen and (min-width: @screen-l) {
    //  .block-title {
    //    max-width: 520px;
    //  }
    //}
  }

  // Liste des Massages
  .massages-list-section {
    > * {
      // row
      padding-top: @space-xl;
      padding-bottom: @space-xl;
      // Tablet
      @media screen and (max-width: @screen-s) {
        padding-top: @space-m;
        padding-bottom: @space-m;
      }
      // list item
      .list-items {
        border: 1px solid blue;
        > * {
          // item
          border: 1px solid red;
          width: 32%;
        }
      }
    }
  }


}