{% extends "base.twig" %}

{% block head %}
toto
{% endblock %}

{% block content %}
	
	<div class="row engagements-block">

		<img src="{{ site.theme.link }}/static/img/natural-illustration-1.svg" alt="" width="200" class="revert-vertical"/>

		<h2 class="align-center margin-m title">Mes valeurs & mes engagements</h2>
		<img src="{{ site.theme.link }}/static/img/natural-illustration-1.svg" alt="" width="200" class=""/>

	</div>

	{# 
		<h2>{{ foo }}</h2>
		<p>{{ qux }}</p>
		{% for post in posts %}
			{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
		{% endfor %}
		
		{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
	#}

{% endblock %}
