{% extends "base.twig" %}

{% block content %}

	{# Cover #}
	<div class="margin-xxl flexbox align-items-center background-dark-grey cover">
		<div class="row">
			<div class="block-title">
				<h1 class="title">{{ post.title }}</h1>
			</div> 
		</div>
	</div>

{% endblock %}